In [1]:
print('hello')

hello

In [2]:
a=234
print(type(a),a)

<class 'int'> 234

In [3]:
#complex number
a=123+4j
print(type(a))

<class 'complex'>

In [4]:
a='hello python'
print(a,type(a))

hello python <class 'str'>

In [5]:
poem = '''Twinkle twinkle little star
How I wonder what you are
Up above the world so high
Like a diamond in the sky
Twinkle twinkle little star
How I wonder what you are



Twinkle twinkle little star
How I wonder what you are
Up above the world so high
Like a diamond in the sky
Twinkle twinkle little star
How I wonder what you are'''


print(poem)

Twinkle twinkle little star
How I wonder what you are
Up above the world so high
Like a diamond in the sky
Twinkle twinkle little star
How I wonder what you are



Twinkle twinkle little star
How I wonder what you are
Up above the world so high
Like a diamond in the sky
Twinkle twinkle little star
How I wonder what you are

In [6]:
#tuple
a=(2,24332,6,87)
print(a)

(2, 24332, 6, 87)

In [7]:
#type casting
a=(2,3,4,5,6)
b=list(a)
b[2]=9
a=tuple(b)
print(a)

(2, 3, 9, 5, 6)

In [9]:
#identify unique element 
a=[1,2,2,3,4,4,5,6,65,4,5,3,5,3]
print(list(set(a)))

[1, 2, 3, 4, 5, 6, 65]

In [10]:
# Dictionary is a key value pair datatype #hash
a={'name':23,'gaurav':45}
print(a,type(a))

{'name': 23, 'gaurav': 45} <class 'dict'>

In [13]:
a['name']=45
print(a)

{'name': 45, 'gaurav': 45}

In [14]:
import pandas as pd
dict={'name':['gaurav','parth','rohit'],
      'Age':[20,19,18],
      'profits':[20000,30000,40000]}
df=pd.DataFrame(dict)
print(df)

     name  Age  profits
0  gaurav   20    20000
1   parth   19    30000
2   rohit   18    40000

In [15]:
sal=int(input("enter a Salary"))
if sal>=50000:
    print('Manager')
elif sal>=30000:
    print('jr manager')
elif sal>=20000:
    print('executive manager')
else:
    print('Intern')

enter a Salary 32000

jr manager

In [16]:
import random
random.randint(10000,60000)

40968

In [18]:
import numpy as np
database_salary=np.random.randint(10000,50000,7)
print(database_salary)

[26649 41452 17638 12982 47725 43366 23267]

In [26]:
for i in database_salary:
     if i >= 50000:
        print(i, 'Manager')
     elif i >= 30000:
        print(i, 'Jr Manager')
     elif i >= 20000:
        print(i, 'Executive')
     else:
        print(i, 'Intern')

26649 Executive
41452 Jr Manager
17638 Intern
12982 Intern
47725 Jr Manager
43366 Jr Manager
23267 Executive

In [25]:
for i in database_salary:
  salary = i
  if salary >= 50000:
    print(i, 'Manager')
  elif salary >= 30000:
    print(i, 'Jr Manager')
  elif salary >= 20000:
    print(i, 'Executive')
  else:
    print(i, 'Intern')

26649 Executive
41452 Jr Manager
17638 Intern
12982 Intern
47725 Jr Manager
43366 Jr Manager
23267 Executive

 user_attempts = 3
import random
for i in range(user_attempts):
  comp_choice = random.randint(1,10)
  user_choice = int(input('Enter your Choice(1-10): '))

 
  if user_choice == comp_choice:
    print('User Won, Comp Lose!!')
  else:
    print('Better Luck next time!!')

In [6]:
import random
computer_choice=random.randint(1,10)
user_choice=int(input('enter your choice(1-10)'))
print(f'''
user_choice : {user_choice}
computer_choice : {computer_choice}''')
if user_choice == computer_choice:
    print("you won")
else:
    print('better luck !! next time')

enter your choice(1-10) 9

user_choice : 9
computer_choice : 1
better luck !! next time

In [9]:
import random
for i in range(0,3,1):
  comp_choice = random.randint(1,10)
  user_choice = int(input('Enter your Choice(1-10): '))
  
  print(f'''
  User choice: {user_choice}
  Computer Choice: {comp_choice}''')

  if user_choice == comp_choice:
    print('User Won, Comp Lose!!')
    break
  else:
    print('Better Luck next time!!')

Enter your Choice(1-10):  9

  User choice: 9
  Computer Choice: 4
Better Luck next time!!

Enter your Choice(1-10):  1

  User choice: 1
  Computer Choice: 3
Better Luck next time!!

Enter your Choice(1-10):  3

  User choice: 3
  Computer Choice: 5
Better Luck next time!!

In [12]:
Questions = {1:'What is the capital of India?',
             2:'who is the current prime minister of India?',
             3:'Which planet is known as the Red Planet?',
             4:'In which year did India gain independence?',
             5:'What is the largest organ in the human body?'}

options = {1:'''A) Delhi
B) Dehradun
C) jaipur
D) patna''',
           2:'''A)Rahul Gandhi
B) Indra Gandhi
C) Narendar Modi
D) Thomas Edison''',
           3:'''A) Earth
B) Venus
C) Jupiter
D) Mars''',
           4:'''A) 1945
B) 1946
C) 1947
D) 1950''',
           5:'''A) Liver
B) Brain
C) Skin
D) Heart'''}

win_ammount = 0

correct_op = ['A','C','D','C','C']

for i in range(1,len(Questions)+1):
  print(f'Question {i}: ',Questions[i])
  print(options[i])
  user_choice = input('Enter your choice: ').upper()

  correct_ans = correct_op[i-1]
  # print(correct_ans)
  if user_choice == correct_ans:
    win_ammount += 10000
    print('Correct Answer!!')
    print(end = '\n'*3)

  else:
    print('Better luck next time!!')
    break


print('Total Amount',win_ammount)

Question 1:  What is the capital of India?
A) Delhi
B) Dehradun
C) jaipur
D) patna

Enter your choice:  a

Correct Answer!!



Question 2:  who is the current prime minister of India?
A)Rahul Gandhi
B) Indra Gandhi
C) Narendar Modi
D) Thomas Edison

Enter your choice:  c

Correct Answer!!



Question 3:  Which planet is known as the Red Planet?
A) Earth
B) Venus
C) Jupiter
D) Mars

Enter your choice:  d

Correct Answer!!



Question 4:  In which year did India gain independence?
A) 1945
B) 1946
C) 1947
D) 1950

Enter your choice:  c

Correct Answer!!



Question 5:  What is the largest organ in the human body?
A) Liver
B) Brain
C) Skin
D) Heart

Enter your choice:  c

Correct Answer!!



Total Amount 50000

In [15]:
Questions = {1:'What is the capital of India?',
             2:'who is the current prime minister of India?',
             3:'Which planet is known as the Red Planet?',
             4:'In which year did India gain independence?',
             5:'What is the largest organ in the human body?'}

options = {1:'''A) Delhi
B) Dehradun
C) jaipur
D) patna''',
           2:'''A)Rahul Gandhi
B) Indra Gandhi
C) Narendar Modi
D) Thomas Edison''',
           3:'''A) Earth
B) Venus
C) Jupiter
D) Mars''',
           4:'''A) 1945
B) 1946
C) 1947
D) 1950''',
           5:'''A) Liver
B) Brain
C) Skin
D) Heart'''}
win_amount=0
correct_op=['A','C','D','C','C']
for i in range(1,len(Questions)+1):
    print(Questions[i])

What is the capital of India?
who is the current prime minister of India?
Which planet is known as the Red Planet?
In which year did India gain independence?
What is the largest organ in the human body?

In [1]:
def say_hello(name):
    print(f'Hello {name}','how are you??')

In [3]:
say_hello('mohan')

Hello mohan how are you??

In [ ]:
#pip install gtts and pip install pygame

In [13]:
def sound_box(paisa):
    from gtts import gTTS 
    text=f'''phonepe  par {paisa} rupees'''
    audio=gTTS(text)
    audio.save('paytm.mp3')
    import pygame as p
    p.init()
    music=p.mixer.Sound('paytm.mp3')
    music.play()

In [14]:
sound_box()