In [1]:
#last func
#Module
# User defined Module
#File Handling and it's uses
#Practical  Example

In [1]:
#Exception Handling
age='23'

try:
  #print(1/10)
  print(vari)
  if age >= 18:
    print('can vote')
  else:
    print('can\'t vote')
except TypeError:
    print('Something went wrong')
    print('Invalid datatype comparison')
except:
     print('Invalid Code!!')

Invalid Code!!

In [19]:
def student_records(**kwargs):
    import pandas as pd
    try:
        data = pd.DataFrame(kwargs)
        return data
    except:
        data = pd.DataFrame(kwargs,index = [1])
        return data

In [20]:
student_records(Name = 'Ajay', Age=12, Address = ' Noida')

   Name  Age Address
1  Ajay   12   Noida

In [23]:
student_records(Name =['Ajay','Karan','Mohan'],
                 Age=[12,34,56],
                Address =[' Noida','Delhi','Delhi'],
                Sec = list('ABC'))

    Name  Age Address Sec
0   Ajay   12   Noida   A
1  Karan   34   Delhi   B
2  Mohan   56   Delhi   C

In [42]:
def show_time():
    try:
        while True:
            import time
            print(time.asctime())
            time.sleep(1)
            display(clear = True)
    except:
        print('Timer has been stopped')

In [43]:
show_time()

Fri Jul  4 10:42:00 2025
Timer has been stopped

In [50]:
import Simran as S
print('Done')

Done

import Simran as S

In [51]:
S.print_star(typ='mid')

    *
   **
  ***
 ****
*****

In [52]:
S.max(46,55,26,78)

78

In [53]:
S.factorial(8)

40320

In [54]:
S.check_palindrome('run')

'Not a Palindrome'

In [55]:
S.sum_of_n_natural_number(56)

1596

In [62]:
S.check_prime(56)

'Not a Prime Number'

In [63]:
S.min(46,55,26,78)

26

In [1]:
from Simran import student_records
print('Done')

Done

In [2]:
student_records(name = 'Simran', age=19)

     name  age
1  Simran   19

In [3]:
from Simran import *sound_box
print('Done')

Done

In [4]:
sum_of_n_natural_number(55)

1540

In [3]:
import turtle
print('Done')

Done

In [4]:
sound_box(100)

NameError: name 'sound_box' is not defined

In [9]:
import turtle
for i in range(4):
    turtle.circle(100)
    turtle.left(90)

In [2]:
import turtle
for i in range(120):
    turtle.speed(0)
    turtle.bgcolor('black')
    col = ['Red','yellow','green','blue','orange']
    import random
    picked_color=random.choice(col)
    turtle.color(picked_color)
    turtle.circle(100)
    turtle.left(3)

In [1]:
import turtle
for i in range(3):
    turtle.bgcolor('black')
    turtle.color('cyan')
    turtle.forward(400)
    turtle.left(120)

#File Handling

In [2]:
# Types of File

In [ ]:
#1. Text File
.py, .html, .csv, .tsv, .css, .java, .c, .c++, .json, .js
#2. Binary File
.pdf, .mp3, .mp4, .png, .jpeg, .exe, .zip, .dat, .tar, .xlsx, .ppt, .doc, .ipynb

In [ ]:
# handling:- read, write, copy, append, delete, open, close, new

In [4]:
#context manager

In [5]:
file = open('Simran.py',mode = 'r')
print(file.read(100))
file.close()

print('''This is  Simran Module in Python
Info: https://www.google.com/''')


def check_palindrome(w

In [6]:
f= open('Simran.py', mode = 'r')

In [11]:
print(f.readline())

In [12]:
f= open('Simran.py', mode = 'r')
for i in range(10):
    print(f.readline())

print('''This is  Simran Module in Python

Info: https://www.google.com/''')





def check_palindrome(word):

    if type(word) == str:

        word = word.upper()

        if word == word[::-1]:

            return 'Palindrome'

        else:

In [13]:
f= open('Simran.py', mode = 'r')
for i in range(10):
    if i==4: #line no.8
       print(f.readline())
    else:
        f.readline()

def check_palindrome(word):

In [16]:
f= open('Simran.py', mode = 'r')

data = f.readline()
f.close()
print('Done')

Done

In [17]:
print(data[5:40])

('''This is  Simran Module in Pytho