In [12]:
# Question 1 :
#list is mutable which means that you can add,remove,change elements after creation.
    #list is stored in [] 
a=[2,213,124]
print(a,type(a))
#tuple is immutable in nature which means that it cannot be add,remove,change elements after creation.
    #tuple is stored in ()

[2, 213, 124] <class 'list'>

In [38]:
b=(12,232,424,2)
print(b,type(b))

(12, 232, 424, 2) <class 'tuple'>

In [55]:
#question 2:
#input() function is used to take input from the user. It can be integer,string
# it basicaally returns string 
# for concverting it to int we use int 
#convert from str to int
age= int(input('Enter your name'))
print(age)

Enter your name 12

12

In [57]:
# by default return value id str
age= input('Enter your name')
print(age)

Enter your name sdf

sdf

In [10]:
#question 3
# python dictionaries is mutable which means that they can be changed,add,remove, after creation
a = {'Name':'simran','course':'BCA','enroll_no':'123'}
print(a,type(a))

{'Name': 'simran', 'course': 'BCA', 'enroll_no': '123'} <class 'dict'>

In [15]:
#question 4
#for loop is used to run a multiple blocks until the condtions came true
for i in range(1,6):
    print(i)

1
2
3
4
5

In [59]:
#question 5
# Exception handling is used to handle the unexpected error in the code
# In exception handling we can handle exception with try except and finaaly block

try:
    a = int(input("Enter the value of a: "))
    b = int(input("Enter the value of b  "))
    result = a / b
    print("Result:", result)
except ValueError:
    print("Please enter valid integers.")
finally:
    print("Bye")

Enter the value of a:  2
Enter the value of b   0

Bye

ZeroDivisionError: division by zero

In [17]:
# question 6
#python module contains  functions, variables, and even classesâ€”that you can reuse in other programs.

#import maths: it import the whole maths module
#import sqrt : it imports the maths sqrt module

In [24]:
#question 7
#OOPs is used to create classes and objects in python. It's help in code reusablilty, and help to organize a data  in a systematic manner
# it includes four pillars: Encapsulation, Inheritance, Polymorphism, Abstraction
#classes is a blueprint of an object. it doesn't occupy any memory
#object occupy the memory

#Code:
class Car:
    def color(self):
        print('Red in color')
    def name(self):
        print('Audi')
    
a=Car()
print(a)

<__main__.Car object at 0x00000281FBA23620>

In [25]:
a.color()

Red in color

In [26]:
a.name()

Audi

In [47]:
#Question 9
r=5
pi=3.14
Area = pi * r*2
print(Area)

31.400000000000002

In [39]:
#question 10
Name=input('Enter your name:')
Age= int(input('Enter your age:'))
print(f'Hello {Name},you are {Age}year old')

Enter your name: simran
Enter your age: 20

Hello simran,you are 20year old

In [31]:
#question 11
Fruit=["apple","mango","orange","kiwi","cherry"]
for index, Fruit in enumerate(Fruit,start=1):
     print(f"{index}. {Fruit}")

1. apple
2. mango
3. orange
4. kiwi
5. cherry

In [33]:
#question 12
def grade_calculator(score):
    if 90 <= score <= 100:
        return "A"
    elif 80 <= score <= 89:
        return "B"
    elif 70 <= score <= 79:
        return "C"
    elif 60 <= score <= 69:
        return "D"
    elif 0 <= score < 60:
        return "F"
    else:
        return "Invalid score"

In [34]:
grade_calculator(72)

'C'

In [35]:
grade_calculator(97)

'A'

In [36]:
grade_calculator(80)

'B'

In [ ]:
# question 14
class BankAccount:
    def __init__(self):
        self.Accountholder ='Rahul'
        self.Starting balance = 10000

    def Deposit_Money(self):
        print()

    def withdrawal_Money()